.sidebar__logo {
  width: auto;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.sidebar__logo > img {
  height: 55px;
  width: 55px;
  object-fit: contain;
}

.sidebar__logo > a {
  font-family: ABeeZee, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 28px;
  letter-spacing: 2px;
}

.sidebar__container__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.sidebar__separator {
  width: 100%;
  background-color: #cacaca;
}